<div class="animated fadeIn">
  <div class="col-lg-12 col-sm-offset-8">
    <div class="card">
      <div class="card-header">
        <span class="pull-left"><i class="icon-home"></i> Clients</span>
        <div class="pull-right">
          <span>
            <button (click)="getAllClients()" [disabled]="isLoading"
                    class="btn btn-outline-info mr-3" tooltip="Rafraichir"><i class="fa fa-refresh"></i>
            </button>
          </span>
          <button (click)="showAddClientDialog()" class="btn btn-outline-info"
                  tooltip="Ajouter un nouveau  client" type="button">
            <i class="fa fa-plus"></i> Ajouter
          </button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped table-bordered custom-responsive-table">
          <thead>
          <tr>
            <th>#</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Téléphone</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of clients$ | async; let i = index; trackBy: trackById"
              [routerLink]="['/clients/detail', client.id]"
              id="clickable-row">
            <td>
              <span class="ui-column-title">#</span>
              {{i + 1}}
            </td>
            <td>
              <span class="ui-column-title">Prénom</span>
              {{client.prenom | titlecase}}
            </td>
            <td>
              <span class="ui-column-title">Nom</span>
              {{client.nom | titlecase}}
            </td>
            <td>
              <span class="ui-column-title">Téléphone</span>
              {{client.telephone}}
            </td>
            <td (click)="$event.stopPropagation()" id="unclickable-row">
              <span class="ui-column-title">Actions</span>
              <div class="btn-group">
                <button [routerLink]="['/personnes/clients/detail', client.id]"
                        class="btn btn-info btn-outline-info btn-icon" tooltip="Voir les détails du client"><i
                  class="icon-eye"></i></button>
                <button (click)="showUpdateClientDialog(client)"
                        class="btn btn-warning btn-outline-warning btn-icon" tooltip="Modifier le client"><i
                  class="icon-pencil"></i></button>
                <button (click)="showDeleteClientDialog(client)"
                        class="btn btn-danger btn-outline-danger btn-icon" tooltip="Supprimer le client"><i
                  class="icon-trash"></i></button>
              </div>
            </td>
          </tr>
          <tr *ngIf="errorMessage">
            <td class="text-center" colspan="5">{{errorMessage}}</td>
          </tr>
          <tr *ngIf="(clients$ | async).length === 0">
            <td class="text-center" colspan="5">Aucun client trouvé</td>
          </tr>
          </tbody>
        </table>
        <div class="col-xs-12 col-12">
          <pagination (pageChanged)="pageChanged($event)" [(ngModel)]="currentPage" [boundaryLinks]="true" [maxSize]="6"
                      [totalItems]="totalPages" class="pagination"
                      firstText="&laquo;" lastText="&raquo;" nextText="&rsaquo;" previousText="&lsaquo;">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<div #dangerModal="bs-modal" aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation de suppression d'un client {{this.clientToDeleteId}}</h4>
        <button (click)="dangerModal.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous vraiment supprimer le client : {{this.deltedName}}</p>
      </div>
      <div class="modal-footer">
        <button (click)="declineSupprimeClient()" class="btn btn-secondary" type="button">Non</button>
        <button (click)="confirmSupprimerClient()" class="btn btn-danger" type="button">Oui</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

