<!--<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">-->
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button (click)="chantierModalRef.hide()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button (click)="chantierModalRef.hide()" class="btn btn-secondary" type="button">Close</button>
    <button (click)="confirm()" class="btn btn-primary" type="button">Save changes</button>
  </div>
</div>
<!--</div>
</div>
-->
