<p-dialog header="{{dialogTitle}}" [modal]="true" [resizable]="false" [draggable]="true"
          styleClass="col-xs-11 col-sm-6 col-md-4"
          [(visible)]="showDialog" (onHide)="onHide()" (onShow)="onShow()">

  <form #formulaire="ngForm" (ngSubmit)="validerFormulaire()" role="form">

    <div class="form-group">
      <label class="control-label" for="nom">Nom<span class="requis">*</span>:</label>
      <input class="form-control" type="text" name="nom" placeholder="Nom" id="nom"
             #nom="ngModel" [(ngModel)]="client.nom" required/>
      <!--<show-errors [control]="nom"></show-errors>-->
    </div>

    <div class="form-group">
      <label class="control-label" id="prenom">Prenom<span class="requis">*</span>:</label>
      <input class="form-control" type="text" name="prenom" placeholder="Prénom"
             #prenom="ngModel" [(ngModel)]="client.prenom" required/>
      <!--<show-errors [control]="prenom"></show-errors>-->
    </div>

    <div class="form-group">
      <label class="control-label" for="telephone">Téléphone:<span class="requis">*</span>:</label>
      <input class="form-control" type="tel" name="telephone" placeholder="Numéro de l'assuré" id="telephone"
             #telephone="ngModel" [(ngModel)]="client.telephone" required/>
      <!--<show-errors [control]="numero_assure"></show-errors>-->
    </div>

    <p class="pull-right"><span class="requis">*</span> Champs obligatoires</p>
    <button class="btn btn-primary block full-width m-b" [disabled]="formulaire.invalid"
            type="submit">Enregistrer
    </button>
  </form>

</p-dialog>
