<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <app-card [title]="'Formulaire Paiement'">
      <p></p>
      <form #formulaire="ngForm" role="form">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="date_paiement">
            Date du paiement<span class="requis">&nbsp;*</span>:
          </label>
          <div class="col-sm-10">
            <input id="date_paiement" #date_paiement type="date" class="form-control"
                   placeholder="Date du paiement" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="montant">
            Montant<span class="requis">&nbsp;*</span>:
          </label>
          <div class="col-sm-10">
            <input id="montant" #montant type="text" class="form-control"
                   placeholder="Montant du paiement" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="type_paiement">
            Type du paiement<span class="requis">&nbsp;*</span>:
          </label>
          <div class="col-sm-10">
            <input id="type_paiement" #type_paiement type="tel" class="form-control"
                   placeholder="Type du paiement" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="commentaire">
            Commentaire<span class="requis">&nbsp;*</span>:
          </label>
          <div class="col-sm-10">
            <input id="commentaire" #commentaire type="text" class="form-control"
                   placeholder="Commentaire du paiement" required>
          </div>
        </div>
        <button class="btn btn-primary block full-width"
                [disabled]="formulaire.invalid"
                type="submit" style="width: 100%">Enregistrer
        </button>
      </form>
    </app-card>
  </div>
</div>
