<script src="ouvrier-details.component.ts"></script>
<div class="animated fadeIn">
  <div class="card">
    <div *ngIf="utilisateur" class="card-header" id="title">
      <div class="pull-left">
        <h2>Details de l'utilisateur : {{utilisateur.nom}} {{utilisateur.prenom}}</h2>
      </div>
    </div>


  </div>

  <div *ngIf="utilisateur " class="row justify-content-md-center">
    <div class="col-lg-8 col-sm-offset-8">
      <div class="row">
        <div class="col-xs-12 col-lg-12 m-b-xs">
          <div class="pull-right">
            <button class="btn bg-success" title="Modifier votre mot de passe"
                    type="button">
              Modifier votre mot de passe
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">

          <table class="table table-striped">
            <tbody>
            <tr>
              <td><strong>Identifiant de l'utilisateur :</strong></td>
              <td>{{utilisateur.id}}</td>
            </tr>
            <tr>
              <td><strong>Nom :</strong></td>
              <td>{{utilisateur.nom}}</td>
            </tr>
            <tr>
              <td><strong>Prenom :</strong></td>
              <td>{{utilisateur.prenom}}</td>
            </tr>
            <tr>
              <td><strong>Nom utilisateur :</strong></td>
              <td>{{utilisateur.username}}</td>
            </tr>
            <tr>
              <td><strong>Niveau d'accreditation :</strong></td>
              <td>{{utilisateur.role}}</td>
            </tr>
            <tr>
              <td><strong>Utilisateur créer le :</strong></td>
              <td>{{utilisateur.createdAt | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <td><strong>Utilisateur modifier le :</strong></td>
              <td>{{utilisateur.updatedAt | date: 'dd/MM/yyyy'}}</td>
            </tr>
            </tbody>
          </table>
          <hr>
          <!--<div class="card">
            <div chiffre_title class="card-header text-center">
              <strong>Chantier sur le quel il à travailler </strong>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                <tr class="text-center">
                  <th>#</th>
                  <th>Identifiant client</th>
                  <th>emplacement</th>
                  <th>Cout</th>
                  <th>Montant dispo</th>
                </tr>
                </thead>
                <tbody *ngIf="chantier" class="text-center">
                <tr *ngFor="let c of chantier; let i = index" class="text-center">
                  <td>{{i + 1}}</td>
                  <td>
                    <span [routerLink]="['/clients/detail', c.clientId]"
                          class="badge badge-success " id="clickable-row">{{c.clientId}}</span>
                  </td>
                  <td>{{c.emplacement}}</td>
                  <td>{{c.cout}}</td>
                  <td>{{c.montant_dispo}}</td>
                </tr>
                <tr *ngIf="chantier.length === 0">
                  <td class="text-center" colspan="6">Aucun chantier associé à cet ouvrier</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>-->
        </div>

      </div>
    </div>
  </div>
