<div *ngIf="reporting$ | async as reporting" class="animated fadeIn px-4">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value"><i class="fa fa-home"></i> {{reporting.chantiers}}</div>
          <div>Chantier<span *ngIf="reporting.chantiers > 1">s</span></div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value"><i class="cui-home"></i> {{reporting.chantiersNotCompleted.count}}</div>
          <div>En cours</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value"><i class="fa fa-user-circle-o"></i> {{reporting.clients}}</div>
          <div>Client<span *ngIf="reporting.clients > 1">s</span></div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value"><i class="fa fa-user-o"></i> {{reporting.users}}</div>
          <div>Utilisateur<span *ngIf="reporting.users > 1">s</span></div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Traffic &amp; Sales
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-info">
                    <small class="text-muted">New Clients</small>
                    <br>
                    <strong class="h4">9,123</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Recuring Clients</small>
                    <br>
                    <strong class="h4">22,643</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="m-0">
            </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Pageviews</small>
                    <br>
                    <strong class="h4">78,623</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Organic</small>
                    <br>
                    <strong class="h4">49,123</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="m-0">
            </div><!--/.col-->
          </div><!--/.row-->
          <br>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->


  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
          <a routerLink="/chantiers/list">Chantiers</a>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">{{reporting.chantiers}}</div>
            <div class="text-uppercase text-muted small">Total</div>
          </div>
          <div>
            <div class="text-value">{{reporting.chantiersNotCompleted.count}}</div>
            <div class="text-uppercase text-muted small">En cours</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-twitter">
          <a routerLink="/personnes/ouvriers">Paiements</a>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">{{reporting.incompletePaiements.length}}</div>
            <div class="text-uppercase text-muted small">
              Incomplet<span *ngIf="reporting.incompletePaiements.length > 1">s</span>
            </div>
          </div>
          <div>
            <div class="text-value">{{reporting.noPaiment.length}}</div>
            <div class="text-uppercase text-muted small">Aucun</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-linkedin">
          <a routerLink="/personnes/ouvriers">Ouvriers</a>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">{{reporting.ouvriers}}</div>
            <div class="text-uppercase text-muted small">Total</div>
          </div>
          <div>
            <div class="text-value">{{reporting.affectedOuvriers}}</div>
            <div class="text-uppercase text-muted small">
              Affecté<span *ngIf="reporting.affectedOuvriers > 1">s</span>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-google-plus">
          <a routerLink="/">...</a>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">894</div>
            <div class="text-uppercase text-muted small">followers</div>
          </div>
          <div>
            <div class="text-value">92</div>
            <div class="text-uppercase text-muted small">circles</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
