<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <app-card [title]="'Formulaire chantier'">
      <p></p>
      <form #formulaire="ngForm" role="form">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="emplacement">
            Emplacement<span class="requis">&nbsp;*</span>:
          </label>
          <div class="col-sm-10">
            <input id="emplacement" #emplacement type="text" class="form-control"
                   placeholder="Emplacement du chantier" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="cout">
            Coût<span class="requis">&nbsp;*</span>:
          </label>
          <div class="col-sm-10">
            <input id="cout" #cout type="text" class="form-control"
                   placeholder="Coût du chantier" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="date_debut">
            Date de début<span class="requis">&nbsp;*</span>:
          </label>
          <div class="col-sm-10">
            <input id="date_debut" #date_debut type="date" class="form-control"
                   placeholder="Date de début du chantier" required>
          </div>
        </div>
        <button class="btn btn-primary block full-width"
                [disabled]="formulaire.invalid"
                type="submit" style="width: 100%">Enregistrer
        </button>
      </form>
    </app-card>
  </div>
</div>
