<div class="animated fadeIn">
  <div class="col-lg-12 col-sm-offset-8">
    <div class="card">
      <div class="card-header">
        <span class="pull-left"><i class="icon-home"></i> Chantiers</span>
        <button (click)="showAddChantierDialog()" class="btn btn-outline-info pull-right" type="button">
          <i class="fa fa-plus"></i> Ajouter
        </button>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Client</th>
            <th>Emplacement</th>
            <th>Date de debut</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let chantier of chantiers">
            <td>{{chantier.Client.prenom | titlecase}} {{chantier.Client.nom | titlecase}}</td>
            <td>{{chantier.emplacement | titlecase}}</td>
            <td>{{chantier.date_debut | date: 'dd/MM/yyyy'}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-info btn-outline-info btn-icon"><i class="icon-eye"></i></button>
                <button class="btn btn-warning btn-outline-warning btn-icon"><i class="icon-pencil"></i></button>
                <button class="btn btn-danger btn-outline-danger btn-icon"><i class="icon-trash"></i></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-chantier-modal></app-chantier-modal>
