<div class="px-3">
  <div class="animated fadeIn">
    <div class="card">
      <div *ngIf="ouvrier" class="card-header">
        <div class="pull-left">
          <h2>Détails de l'ouvrier : {{ouvrier?.nom}} {{ouvrier?.prenom}}</h2>
        </div>
      </div>

      <div *ngIf="showError" class="card-header" id="">
        <alert type="danger">
          <i class="fa fa-2x fa-info-circle"></i>&nbsp;<span class="h2">Une erreur est survenue lors de la récupération des informations de l'ouvrier.
          <button (click)="refresh()" class="btn btn-outline-danger alert-link">Réessayer</button>.</span>
        </alert>
      </div>

    </div>
  </div>

  <div *ngIf="ouvrier" class="row justify-content-md-center">
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-header text-center">
          <strong>Informations de l'ouvrier</strong>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <tbody>
            <tr>
              <td><strong>Identifiant:</strong></td>
              <td>{{ouvrier.id}}</td>
            </tr>
            <tr>
              <td><strong>Nom :</strong></td>
              <td>{{ouvrier.nom}}</td>
            </tr>
            <tr>
              <td><strong>Prénom :</strong></td>
              <td>{{ouvrier.prenom}}</td>
            </tr>
            <tr>
              <td><strong>Téléphone :</strong></td>
              <td>{{ouvrier.telephone}}</td>
            </tr>
            <tr>
              <td><strong>Créé le :</strong></td>
              <td>{{ouvrier.createdAt | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <td><strong>Modifié le :</strong></td>
              <td>{{ouvrier.updatedAt | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <ng-container *ngIf="user$ | async as user">
              <tr>
                <td><strong>Créé par :</strong></td>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <td><strong>Modifié par :</strong></td>
                <td>{{user.username}}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
          <hr>
          <div class="card">
            <div class="card-header text-center">
              <strong>Chantiers sur lesquels il à travaillé </strong>
            </div>
            <div class="card-body">
              <table class="table table-striped custom-responsive-table">
                <thead>
                <tr class="text-center">
                  <th>#</th>
                  <th>Client</th>
                  <th>Emplacement</th>
                  <th>Coût</th>
                  <th>Montant disponible</th>
                </tr>
                </thead>
                <tbody *ngIf="chantiers" class="text-center">
                <tr *ngFor="let c of chantiers; let i = index" class="text-center">
                  <td>
                    <span class="ui-column-title">#</span>
                    {{i + 1}}
                  </td>
                  <td>
                    <span class="ui-column-title">Client</span>
                    <a [routerLink]="['/personnes/clients/detail', c.clientId]"
                       class="badge badge-success ">{{c.clientId}}</a>
                  </td>
                  <td>
                    <span class="ui-column-title">Emplacement</span>
                    {{c.emplacement}}
                  </td>
                  <td>
                    <span class="ui-column-title">Coût</span>
                    {{c.cout}}
                  </td>
                  <td>
                    <span class="ui-column-title">Montant disponible</span>
                    {{c.montant_dispo}}
                  </td>
                </tr>
                <tr *ngIf="chantiers.length === 0">
                  <td class="text-center" colspan="6">Aucun chantier associé à cet ouvrier</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
