<div class="row m-b-5">
  <div class="col-10 col-lg-11"></div>
  <div class="col-2 col-lg-1">
    <a class="btn btn-success btn-outline-success btn-icon icon-btn btn-lg"
       [routerLink]="['/formulaire/client-formulaire']">
      <i class="icofont icofont-plus"></i>
    </a>
  </div>
</div>
<app-card [title]="'Clients'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="table-responsive">
    <table class="table" >
      <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Téléphone</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let clt of client ">
        <th scope="row">{{clt.id}}</th>
        <td>{{clt.nom}}</td>
        <td>{{clt.prenom}}</td>
        <td>{{clt.telephone}}</td>
        <td style="align-content: space-between">
          <div class="btn-group">
            <button class="btn btn-info btn-outline-info btn-icon"><i class="icofont icofont-ui-edit"></i></button>
            <button class="btn btn-warning btn-outline-warning btn-icon"><i class="icofont icofont-eye-alt"></i></button>
            <button class="btn btn-danger btn-outline-danger btn-icon"><i class="icofont icofont-ui-delete"></i></button>
          </div >
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-card>


