<div class="row m-b-5">
  <div class="col-10 col-lg-11"></div>
  <div class="col-2 col-lg-1">
    <a class="btn btn-success btn-outline-success btn-icon icon-btn btn-lg"
       [routerLink]="['/formulaire/client-formulaire']">
      <i class="icofont icofont-plus"></i>
    </a>
  </div>
</div>


<app-card [title]="'Clients'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Téléphone</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>
</app-card>


