<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" id="title">
      <div class="pull-left">
        <h2>Informations de votre agence </h2>
      </div>
    </div>

    <div *ngIf="showError" class="card-header" id="">
      <alert type="danger">
        <i class="fa fa-2x fa-info-circle"></i>&nbsp;<span class="h2">Une erreur est survenue lors de la récupération des informations de l'agence.
          <button class="btn btn-outline-danger alert-link">Réessayer</button>.</span>
      </alert>
    </div>

  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-sm-offset-8">
    <div class="modal-content">
      <div class="modal-body">

        <form #form="ngForm" (ngSubmit)="enregistrerFormulaire(logoInput)" role="form">

          <div class="form-group">
            <label class="control-label requis" for="">N° Rccm:</label>
            <input class="form-control" id="rccmNum"
                   name="rccmNu m" required/>

          </div>

          <div [ngClass]="{'has-error has-feedback': inputEnErreur(fiscalNum)}"
               class="form-group">
            <label class="control-label requis" for="fiscalNum">N° Fiscal:</label>
            <input #fiscalNum="ngModel" [(ngModel)]="agence.fiscal" class="form-control" id="fiscalNum"
                   min="0" name="fiscalNum" required type="number"/>
            <span *ngIf="inputEnErreur(fiscalNum)"
                  class="fa fa-times fa-2x form-control-feedback"></span>

            <div *ngIf="inputEnErreur(fiscalNum)" class="alert alert-danger">
              <div *ngIf="fiscalNum.errors?.required">Le numéro fiscal est requis.</div>

              <!--<div *ngFor="let erreur of erreursServeur?.fiscalNum">
                {{erreur}}
              </div>-->

            </div>
          </div>

          <div [ngClass]="{'has-error has-feedback': inputEnErreur(libelle)}"
               class="form-group">
            <label class="control-label requis" for="libelle">Libelle:</label>
            <input #libelle="ngModel" [(ngModel)]="agence.libelle" class="form-control" id="libelle"
                   name="libelle" required type="text"/>
            <span *ngIf="inputEnErreur(libelle)"
                  class="fa fa-times fa-2x form-control-feedback"></span>

            <div *ngIf="inputEnErreur(libelle)" class="alert alert-danger">
              <div *ngIf="libelle.errors?.required">Le libellé de l'agence est requis.</div>

              <!--<div *ngFor="let erreur of erreursServeur?.libelle">
                {{erreur}}
              </div>-->
            </div>
          </div>

          <div [ngClass]="{'has-error has-feedback': inputEnErreur(telephone)}"
               class="form-group">
            <label class="control-label requis" for="telephone">Téléphone:</label>
            <input #telephone="ngModel" [(ngModel)]="agence.telephone" class="form-control"
                   id="telephone" name="telephone" required type="tel"/>
            <span *ngIf="inputEnErreur(telephone)"
                  class="fa fa-times fa-2x form-control-feedback"></span>

            <div *ngIf="inputEnErreur(telephone)" class="alert alert-danger">
              <div *ngIf="telephone.errors?.required">
                Le numéro de téléphone de l'agence est requis.
              </div>

              <!--<div *ngFor="let erreur of erreursServeur?.telephone">
                {{erreur}}
              </div>-->
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="fax">Fax:</label>
            <input #fax="ngModel" [(ngModel)]="agence.fax" class="form-control" id="fax" name="fax"
                   type="tel"/>
          </div>


          <div [ngClass]="{'has-error has-feedback': inputEnErreur(mail)}"
               class="form-group">
            <label class="control-label requis" for="mail">Email:</label>
            <input #mail="ngModel" [(ngModel)]="agence.mail" class="form-control" id="mail" name="mail"
                   required type="email"/>
            <span *ngIf="inputEnErreur(mail)"
                  class="fa fa-times fa-2x form-control-feedback"></span>

            <div *ngIf="inputEnErreur(mail)" class="alert alert-danger">
              <div *ngIf="mail.errors?.required">
                L'email de contact de l'agence est requis.
              </div>

              <!--<div *ngFor="let erreur of erreursServeur?.mail">
                {{erreur}}
              </div>-->
            </div>

          </div>

          <div [ngClass]="{'has-error has-feedback': inputEnErreur(adresse)}"
               class="form-group">
            <label class="control-label requis" for="adresse">Adresse:</label>
            <input #adresse="ngModel" [(ngModel)]="agence.adresse" class="form-control" id="adresse"
                   name="adresse" required type="text"/>

            <span *ngIf="inputEnErreur(adresse)"
                  class="fa fa-times fa-2x form-control-feedback"></span>

            <div *ngIf="inputEnErreur(adresse)" class="alert alert-danger">
              <div *ngIf="adresse.errors?.required">
                L'adresse de l'agence est requise.
              </div>

            </div>
          </div>

          <div class="fileinput fileinput-new input-group" data-provides="fileinput">
            <div class="form-control" data-trigger="fileinput">
              <i class="fa fa-image"></i>Logo de l'agence
              <span class="fileinput-filename"></span>
            </div>
            <span class="input-group-addon btn btn-default btn-file">
                                    <input #logoInput accept="image/*" class="fileinput-image" name="..." type="file"/>
                                </span>
          </div>


          <br>
          <button [disabled]="form.invalid" class="btn btn-primary block full-width m-b"
                  type="submit">Enregistrer
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<br>

