<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <app-card [title]="'Formulaire Mouvement Sortant'">
      <p></p>
      <form #formulaire="ngForm" role="form">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="date_mouvement">
            Date du mouvement<span class="requis">&nbsp;*</span>:
          </label>
          <div class="col-sm-10">
            <input id="date_mouvement" #date_mouvement type="date" class="form-control"
                   placeholder="Date du mouvement" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="montant">
            Montant<span class="requis">&nbsp;*</span>:
          </label>
          <div class="col-sm-10">
            <input id="montant" #montant type="number" class="form-control"
                   placeholder="Montant du mouvement" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="source">
            Source du mouvement<span class="requis">&nbsp;*</span>:
          </label>
          <div class="col-sm-10">
            <input id="source" #source type="text" class="form-control"
                   placeholder="Source du mouvement" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="destination">
            Destination du mouvement<span class="requis">&nbsp;*</span>:
          </label>
          <div class="col-sm-10">
            <input id="destination" #destination type="text" class="form-control"
                   placeholder="Destination du mouvement" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="commentaire">
            Commentaire<span class="requis">&nbsp;*</span>:
          </label>
          <div class="col-sm-10">
            <input id="commentaire" #commentaire type="text" class="form-control"
                   placeholder="Commentaire du paiement" required>
          </div>
        </div>
        <button class="btn btn-primary block full-width"
                [disabled]="formulaire.invalid"
                type="submit" style="width: 100%">Enregistrer
        </button>
      </form>
    </app-card>
  </div>
</div>
