<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button (click)="clientModalRef.hide()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input [(ngModel)]="client.nom" autocomplete="text" class="form-control" id="nom"
               minlength="2" name="nom" placeholder="Entrez le nom..." required type="text">
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input [(ngModel)]="client.prenom" class="form-control" id="prenom" minlength="2"
               name="prenom" placeholder="Entrez le prénom..." required type="text">
      </div>
      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input [(ngModel)]="client.telephone" class="form-control" id="telephone" name="telephone"
               placeholder="Entrez le numéro de téléphone..." required type="phone">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="form.reset()" class="btn btn-link" type="reset"><i class="fa fa-eraser"></i>
      Nettoyer
    </button>
    <button (click)="confirm()" [disabled]="form.invalid"
            class="btn btn-primary" type="button">Enregistrer
    </button>
    <button (click)="clientModalRef.hide()" class="btn btn-secondary" type="button">Fermer</button>
  </div>
</div>
