<div class="row">
  <div class="col-md-12">
    <!-- table card start -->
    <div class="card table-card">
      <div class="">
        <div class="row-table">
          <div class="col-sm-6 card-block-big br">
            <div class="row">
              <div class="col-sm-4">
                <!--<i class="icofont icofont-eye-alt text-success"></i>-->
                <h4 class="text-info">En attente</h4>
              </div>
              <div class="col-sm-8 text-center">
                <h5>10</h5>
                <span>Clients</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 card-block-big">
            <div class="row">
              <div class="col-sm-4">
                <h4 class="text-danger">Impayée</h4>
              </div>
              <div class="col-sm-8 text-center">
                <h5>17</h5>
                <span>Factures</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="row-table">
          <div class="col-sm-6 card-block-big br">
            <div class="row">
              <div class="col-sm-4">
                <h4 class="text-primary">En activité</h4>
              </div>
              <div class="col-sm-8 text-center">
                <h5>41</h5>
                <span>Ouvriers</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 card-block-big">
            <div class="row">
              <div class="col-sm-4">
                <h4 class="text-warning">Initié</h4>
              </div>
              <div class="col-sm-8 text-center">
                <h5>12</h5>
                <span>Mouvements</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- table card end -->
  </div>
  <!--<div class="col-md-12 col-xl-4">
    <div class="card table-card">
      <div class="row-table">
        <div class="col-sm-6 card-block-big br">
          <div class="row">
            <div class="col-sm-4">
              <div style="height:40px;width:40px;">
                <span class="resource-barchart1"></span>
              </div>
            </div>
            <div class="col-sm-8 text-center">
              <h5>1000</h5>
              <span>Shares</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-block-big">
          <div class="row ">
            <div class="col-sm-4">
              <i class="icofont icofont-network text-primary"></i>
            </div>
            <div class="col-sm-8 text-center">
              <h5>600</h5>
              <span>Network</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-table">
        <div class="col-sm-6 card-block-big br">
          <div class="row ">
            <div class="col-sm-4">
              <div style="height:40px;width:40px;">
                <span class="resource-barchart2"></span>
              </div>
            </div>
            <div class="col-sm-8 text-center">
              <h5>350</h5>
              <span>Returns</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-block-big">
          <div class="row ">
            <div class="col-sm-4">
              <i class="icofont icofont-network-tower text-primary"></i>
            </div>
            <div class="col-sm-8 text-center">
              <h5>100%</h5>
              <span>Connections</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->

  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-facebook">
        <h3>116</h3>
        <span class="m-t-10">Chantiers au total</span>
        <i class="ti ti-home"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-twitter">
        <h3>43</h3>
        <span class="m-t-10">Chantiers en cours</span>
        <i class="ti ti-home"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big widget-success-card">
        <h3>41</h3>
        <span class="m-t-10">Chantiers bouclés</span>
        <i class="ti ti-home"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-google-plus">
        <h3>32</h3>
        <span class="m-t-10">Chantiers en attente</span>
        <i class="ti ti-home"></i>
      </div>
    </div>
  </div>
</div>
