<div class="px-3">
  <div class="animated fadeIn">
    <div class="card">
      <div *ngIf="chantier" class="card-header title">
        <div class="pull-left">
          <h2>Details du chantier : N° {{chantier?.id}} du
            client {{chantier?.Client.nom}} {{chantier?.Client.prenom}}</h2>
        </div>
        <div class="btn-group col-12 col-md-3 pull-right">
          <button (click)="addMouvement()" class="btn btn-info btn-icon" tooltip="Effectuer un mouvement"
                  type="button"><i class="fa fa-reply"></i>
          </button>
          <button (click)="effectuerUnPaiement()" class="btn btn-icon border border-right-0 border-left-0"
                  tooltip="Effectuer un paiement"
                  type="button"><i class="fa fa-credit-card"></i>
          </button>
          <button (click)="genererFacture()"
                  class="btn btn-link bg-success btn-icon" tooltip="Imprimer une facture pour ce chantier"><i
            class="cui-print"></i>
          </button>
        </div>
      </div>

      <div *ngIf="showError" class="card-header" id="">
        <alert type="danger">
          <i class="fa fa-2x fa-info-circle"></i>&nbsp;<span class="h2">Une erreur est survenue lors de la récupération des informations du chantier.
          <button (click)="refresh()" class="btn btn-outline-danger alert-link">Réessayer</button>.</span>
        </alert>
      </div>
    </div>
  </div>
  <div *ngIf="chantier" class="row">
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>
        <tab class="p-0 p-md-3 px-md-5">
          <ng-template tabHeading><i class="icon-user"></i>Client & Chantier</ng-template>
          <div class="card border border-0">
            <div class="card-header title">
              <strong>Client</strong>
            </div>
            <div class="card-body p-1 px-md-4">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td><strong>Identifiant du client :</strong></td>
                  <td>{{chantier.ClientId}}</td>
                </tr>
                <tr>
                  <td><strong>Nom :</strong></td>
                  <td>{{chantier.Client.nom}}</td>
                </tr>
                <tr>
                  <td><strong>Prenom :</strong></td>
                  <td>{{chantier.Client.prenom}}</td>
                </tr>
                <tr>
                  <td><strong>Téléphone :</strong></td>
                  <td>{{chantier.Client.telephone}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card border border-0">
            <div class="card-header title">
              <strong>Chantier</strong>
            </div>
            <div class="card-body p-1 px-md-4">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td><strong>Emplacement :</strong></td>
                  <td>{{chantier.emplacement}}</td>
                </tr>
                <tr>
                  <td><strong>Date début :</strong></td>
                  <td>{{chantier.date_fin | date: 'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                  <td><strong>Date fin :</strong></td>
                  <td>{{chantier.date_fin | date: 'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                  <td><strong>Chantier créé le :</strong></td>
                  <td>{{chantier.createdAt | date: 'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                  <td><strong>Chantier modifié le :</strong></td>
                  <td>{{chantier.updatedAt | date: 'dd/MM/yyyy'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </tab>
        <tab class="p-0 p-md-3 px-md-5">
          <ng-template tabHeading><i class="icon-pie-chart"></i> Graphe</ng-template>
          <div class="card border border-0">
            <div class="card-header">
              <strong>Chiffres du chantier </strong>
            </div>
            <div class="card-body px-1 px-md-4">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td width="50%"><strong>Coût du chantier:</strong></td>
                  <td>{{chantier.cout | intcomma}} Fcfa</td>
                </tr>
                <tr>
                  <td><strong>Montant disponible:</strong></td>
                  <td>{{chantier.montant_dispo | intcomma}} Fcfa</td>
                </tr>
                <tr>
                  <td><strong>Montant emprunté sur un autre chantier:</strong></td>
                  <td>{{chantier.walita | intcomma}} Fcfa</td>
                </tr>
                <tr>
                  <td><strong>Montant de cet chantier:</strong></td>
                  <td>{{chantier.yereta | intcomma}} Fcfa</td>
                </tr>
                </tbody>
              </table>
              <div class="card-header" id="graph_title">
                <strong>Graphe </strong>
              </div>
              <div class="card-body p-0">
                <div *ngIf="chantier" class="chart-wrapper">
                  <canvas [chartType]="pieChartType"
                          [data]="pieChartData"
                          [labels]="pieChartLabels"
                          baseChart
                          class="chart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab class="p-0 p-md-3 px-md-5">
          <ng-template tabHeading><i class="icon-picture"></i> Galerie</ng-template>
          <div class="card border border-0">
            <div class="card-header">
              <strong>Images du chantier</strong>
            </div>
            <div class="col-12 file-upload p-3">
              <input
                (change)="selectFiles($event)"
                [ngModel]="fileNinput"
                accept=".gif, .jpg, .png, .jpeg"
                multiple type="file"
              />
              <button (click)="ajouterImages()"
                      [disabled]="!selectedFiles"
                      class="btn btn-primary pull-right">
                Ajouter
              </button>
            </div>
            <div class="card-body card-body px-1 px-md-4">
              <gallery *ngIf="images?.length" [items]="images"></gallery>
            </div>
          </div>
        </tab>
      </tabset>
    </div><!--/.col-->
  </div>
  <iframe #pdfIframe [src]="pdfUrl" style="visibility: hidden">
  </iframe>
</div>
