.title {
  color: #00B7FF;
}

#graph_title {
  text-align: center;
}

#btn_add_mouv {
  margin-bottom: 10px;
}

.file-upload {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .border {
    border: 1px solid #c8ced3 !important;
    border-radius: 10px;
  }
}

